@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700&subset=hebrew');
@font-face {
    font-family: 'Alef-Bold';
    src: local('Alef-Bold'), url(./fonts/Alef-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Alef-Regular';
    src: local('Alef-Regular'), url(./fonts/Alef-Regular.woff) format('woff');
}

/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: 'Heebo', sans-serif;*/
/*}*/
#root {
    height: 100%;
    width: 100%;
}
