@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
/*@media (orientation: landscape) {*/
    /*body {*/
        /*!*-webkit-transform: rotate(-90deg);*!*/
        /*!*-moz-transform: rotate(-90deg);*!*/
        /*!*-o-transform: rotate(-90deg);*!*/
        /*!*-ms-transform: rotate(-90deg);*!*/
        /*!*transform: rotate(-90deg);*!*/
        /*!*position: absolute;*!*/
        /*!*left: 100%;*!*/
    /*}*/
/*}*/
@font-face {
    font-family: 'Alef-Bold';
    src: local('Alef-Bold'), url(./fonts/Alef-Bold.woff) format('woff');
    src: local('Alef-Bold'), url(./fonts/Alef-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Alef-Regular';
    src: local('Alef-Regular'), url(./fonts/Alef-Regular.woff) format('woff');
    src: local('Alef-Regular'), url(./fonts/Alef-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: local('HelveticaNeue'), url(./fonts/HelveticaNeue.woff) format('woff');
    src: local('HelveticaNeue'), url(./fonts/HelveticaNeue.ttf) format('truetype');
}

#root {
    height: 100%;
    width: 100%;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
