.consultant-card {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
}
.consultant-name {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    width: 100%;
    margin: auto;
    color: #000000;
}
.name-button-wrapper {
    /*width: 100%;*/
    margin: auto;
}
.start-convo-button {
    width: 229.2px;
    height: 48px;
    border-radius: 24px;
    background-color: #1f1063;
    color: white;
    margin-right: auto;
    margin-left:auto;
    margin-top: 25px;
    display: inline-block;
    cursor: pointer;

    /*min-width: 125px;*/
}
.button-fade {
    width: 164.4px;
    height: 26.4px;
    opacity: 0.63;
    border-radius: 24px;
    -webkit-filter: blur(9.6px);
    filter: blur(9.6px);
    background-color: #1f1063;
    position: relative;
    margin: auto;
    bottom: -9px;
    z-index: -1;
}
.button-text {
    width: 100%;
    height: fit-content;
    font-family: Alef-Bold, sans-serif;
    font-size: 19.2px;
    font-weight: bold;
    color: #f5f5f5;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}
.arrow {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: auto;
}
.arrow-left {
    margin-left: 60px;
}
