.mobile-title {
    margin-top: 40%;
    margin-left: auto;
    width: fit-content;
    position: relative;
    margin-right: 34px;
}
.mobile-top-title {
    /*margin-top: 40%;*/
    /*width: 308px;*/
    /*height: 74px;*/
    margin-bottom: 10px;
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: 0.2px;
    text-align: right;
    color: #1a1a1a;
    direction: rtl;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
}
.mobile-sub-title {
    /*width: 287px;*/
    /*height: 69px;*/
    margin-bottom: 12px;
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    direction: rtl;
}
.brush-stroke {
    float: right;
    width: 210px;
}
.mobile-consultants-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.angel-img-wrapper {
    width: 65px;
    margin-right: 0;
    margin-left: auto;

}
@keyframes MoveUpDown {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -5.2px;
    }
}
.floating-head {
    width: 65px;
    height: 16px;
    position: relative;

    animation: MoveUpDown 1.2s ease-in-out infinite;
}
.angel {
    width: 55px;
    height: 74px;
    margin: auto;
    display: block;
}
