.chat-box{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 52% 93%, #023365, #000000);
    border: solid 1px #979797;

}

.answer-options-wrapper {

    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;

    /*justify-content: space-between;*/
}
.answer-options {
    width: 123px;
    height: 51.8px;
    object-fit: contain;
    border-radius: 18px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    -webkit-animation: 0.5s move-input ease-in-out;
    -moz-animation: 0.5s move-input ease-in-out;
    -o-animation: 0.5s move-input ease-in-out;
    animation: 0.5s move-input ease-in-out;
    animation-fill-mode:forwards;
}
.answer-options:hover {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #022b56;
}
.option-1 {

}
.option-2 {

}
.input-wrapper {
    width: fit-content;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}
textarea:focus {
    outline:none;
}
.user-input {
    padding-right: 15px;
    padding-top: 9px;
    width: 210.3px;
    height: 49.5px;
    /*border-radius: 26.3px;*/
    /*border: solid 1px #ffffff;*/
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 18.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    position: absolute;
    right: 0;
    letter-spacing: 3px;
    color: #ffffff;
    background: transparent;
    text-align: right;
    border: transparent;
}
.user-input-enabled {

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.5; /* Firefox */
}

user-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    opacity: 0.5;
}

user-input:-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
    opacity: 0.5;
}

.text-input {
    position: relative;
    /*border: 0;*/
    -webkit-animation: 0.5s move-input ease-in-out;
    -moz-animation: 0.5s move-input ease-in-out;
    -o-animation: 0.5s move-input ease-in-out;
    animation: 0.5s move-input ease-in-out;
    animation-fill-mode:forwards;
    width: 257.3px;
    height: 49.5px;
    border-radius: 26.3px;
    border: solid 1px #ffffff;
}
.text-input-enabled {
    border: solid 2px #ffffff;
}
fieldset {
    border: 0;
}
.submit-button {
    cursor: pointer;
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 18.8px;
    text-align: center;
    position: relative;
    width: 201px;
    height: 51.8px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 18px;
    -webkit-animation: 0.5s move-button-send ease-in-out;
    -moz-animation: 0.5s move-button-send ease-in-out;
    -o-animation: 0.5s move-button-send ease-in-out;
    animation: 0.5s move-button-send ease-in-out;
    animation-fill-mode:forwards;
}

.submit-border-image {
}

@keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-moz-keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-o-keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-moz-keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-o-keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.text-wrapper > span:after {
    -webkit-animation: 0.8s blink ease-in-out infinite !important;
    -moz-animation: 0.8s blink ease-in-out infinite !important;
    -o-animation: 0.8s blink ease-in-out infinite !important;
    animation: 0.8s blink ease-in-out infinite !important;
}
.text-typer {
    text-align: center;
    /*height: 100%;*/
    /*word-break: break-word;*/
    /*text-overflow: ellipsis;*/
}
.text-typer:after {
    padding-right: 10px !important;
}
@keyframes blink{
    from,to{color:transparent}
    50%{color:#ffe500}}
@-moz-keyframes blink {
    from,to{color:transparent}50%{color:#ffe500}}
@-webkit-keyframes blink {
    from,to{color:transparent}50%{color:#ffe500}}
/*@-ms-keyframes "blink"{*/
    /*from,to{color:transparent}50%{color:#ffe500}}*/
@-o-keyframes blink {
    from,to{color:transparent}50%{color:#ffe500}}

.text-wrapper {
    direction: rtl;
    padding-top: 25%;
    margin-right: auto;
    margin-left: auto;
    font-family: Alef-Regular, sans-serif;
    font-size: 22px;
    line-height: 1.32;
    text-align: center;
    color: #ffffff;
    /*height: 200px;*/
}
textarea {
    resize: none;
}
.button-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 18.8px;
    direction: rtl;
}

@media only screen and (max-width: 600px) {
    .chat-box {
        position: relative;
        background-color: #272727;
        background-image: none;
    }
    .text-wrapper {
        font-family: Alef-Regular, sans-serif;
        font-size: 20px;
        line-height: 1.45;
        text-align: right;
        margin-right: 34px;
        margin-left: 34px;
        padding-top: 35%;
    }
    .input-wrapper {
        margin-top: 75px;
    }
}