.chat-box-wrapper {
    background-image: radial-gradient(circle at 52% 93%, #023365, #000000);
    min-height: 430px;
    overflow-y: auto;
    height: 100%;
}
.chat-box{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;

    /*top: 50%;*/
    /*transform: translate(0, -50%);*/

}
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.border-rect-option{
    width: 123px;
    height: 51.8px;
    fill:rgba(0, 0, 0,0);
    stroke:url(#borderGradient);
    stroke-width:2;
}
.border-rect-next{
    width: 201px;
    height: 51.8px;
    fill:rgba(0, 0, 0,0);
    stroke:url(#borderGradient);
    stroke-width:2;
}
/*.hover-group:hover {*/
    /*fill:white*/
/*}*/
.answer-options-wrapper {

    /*margin-top: 100px;*/
    margin-right: auto;
    margin-left: auto;
    width: fit-content;

    /*justify-content: space-between;*/
}
.answer-options {
    /*width: 123px;*/
    height: 54px;
    padding: 5px;
    object-fit: contain;
    border-radius: 18px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    /*-webkit-animation: 0.5s move-input ease-in-out;*/
    /*-moz-animation: 0.5s move-input ease-in-out;*/
    /*-o-animation: 0.5s move-input ease-in-out;*/
    /*animation: 0.5s move-input ease-in-out;*/
    /*animation-fill-mode:forwards;*/
    /*color: white;*/
}
/*.border-rect-option:hover {*/
    /*fill: rgba(255, 255, 255, 0.9);*/
/*}*/
/*.border-rect-option:hover {*/
    /*fill: rgba(255, 255, 255, 0.9);*/
/*}*/

/*.answer-options:hover {*/
    /*color:#022b56;*/
/*}*/
/*.button-text {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*font-family: Heebo, Alef-Regular, sans-serif;*/
    /*font-size: 18.8px;*/
    /*direction: rtl;*/
    /*z-index: 3;*/
/*}*/


.answer-border {
    height: 100%;
    width: 100%;

}
.input-wrapper {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
textarea:focus {
    outline:none;
}
.user-input {
    padding-right: 15px;
    padding-top: 9px;
    width: 210.3px;
    height: 49.5px;
    /*border-radius: 26.3px;*/
    /*border: solid 1px #ffffff;*/
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 18.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    position: absolute;
    right: 0;
    letter-spacing: 3px;
    color: #ffffff;
    background: transparent;
    text-align: right;
    border: transparent;
}
.user-input-enabled {

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.5; /* Firefox */
}

user-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    opacity: 0.5;
}

user-input:-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
    opacity: 0.5;
}

.text-input {
    position: relative;
    /*border: 0;*/
    /*-webkit-animation: 0.5s move-input ease-in-out;*/
    /*-moz-animation: 0.5s move-input ease-in-out;*/
    /*-o-animation: 0.5s move-input ease-in-out;*/
    /*animation: 0.5s move-input ease-in-out;*/
    /*animation-fill-mode:forwards;*/
    width: 257.3px;
    height: 49.5px;
    border-radius: 26.3px;
    border: solid 1px #ffffff;
}
.text-input-enabled {
    border: solid 2px #ffffff;
}
fieldset {
    border: 0;
}
.svg-border {
    /*padding: 3px;*/
    z-index: 3;
}
.submit-button {
    cursor: pointer;
    font-family: Heebo, Alef-Regular, sans-serif;
    font-size: 18.8px;
    text-align: center;
    position: relative;
    width: 201px;
    height: 57px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    -webkit-animation: 0.5s move-button-send ease-in-out;
    -moz-animation: 0.5s move-button-send ease-in-out;
    -o-animation: 0.5s move-button-send ease-in-out;
    animation: 0.5s move-button-send ease-in-out;
    animation-fill-mode:forwards;
}

.submit-border-image {
    height: 100%;
    width: 100%;
}

@keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-moz-keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-o-keyframes move-button-send {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-moz-keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@-o-keyframes move-input {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.Cursor {
    background-color: #ffe500;
    width: 15px;
    padding-right: 7px;
    margin-right: 10px;
    color: transparent;
}
.Cursor--blinking {
    opacity: 1;
    animation: blink 0.8s ease-in-out infinite;
    -webkit-animation: 0.8s blink ease-in-out infinite;
    -moz-animation: 0.8s blink ease-in-out infinite;
    -o-animation: 0.8s blink ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; }
}
@-o-keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; }
}
@-moz-keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; }
}


.text-wrapper {
    direction: rtl;
    /*padding-top: 20%;*/
    padding-top: 15%;
    margin-right: auto;
    margin-left: auto;
    font-family: Alef-Regular, sans-serif;
    font-size: 22px;
    line-height: 1.32;
    text-align: center;
    color: #ffffff;
    /*height: 200px;*/
}
textarea {
    resize: none;
}


@media only screen and (max-width: 500px) {
    .chat-box {
        position: relative;
        background-color: #272727;
        background-image: none;
    }
    .text-wrapper {
        font-family: Alef-Regular, sans-serif;
        font-size: 20px;
        line-height: 1.45;
        text-align: right;
        margin-right: 34px;
        margin-left: 34px;
        padding-top: 35%;
    }
    .input-wrapper {
        margin-top: 75px;
    }
}
.choose-month {
    font-family: 'Montserrat', sans-serif;
    font-size: 15.4px;
    letter-spacing: 0.5px;
    width: fit-content;
    margin: auto;
}
.week {
    font-family: 'Montserrat', sans-serif;
    font-size: 15.4px;
    letter-spacing: 0.5px;
    color: #8b8b8e;

}
.day {
    padding: 10px;
    font-weight: 300;
    cursor: pointer;
}
.day:hover {
    border-radius: 19.5px;
    background-color: #fee404;
    color: #000061;
}
.calendar-wrapper {

}
.calendar-arrow {
    border: solid #545456;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}
.calendar-arrow:hover {
    border: solid white;
    border-width: 0 3px 3px 0;
}
.pics-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right {
    position: absolute;
    right: 20px;
    top: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    position: absolute;
    left: 17px;
    top: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.answer-wrapper {
    width: fit-content;
    margin:65px auto auto auto;
    padding-bottom: 15%;
    position: relative;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out ;
}
.input-button-wrapper {
    position: relative;
}
.choose-month-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}
@media only screen and (max-height: 650px) {
    .text-wrapper {

        /*padding-top: 15%;*/
    }
    .answer-wrapper {
        /*padding-bottom: 15%;*/
    }
}
@media only screen and (max-height: 510px) {
    .text-wrapper {

        padding-top: 10%;
    }
    .answer-wrapper {
        padding-bottom: 10%;
    }
}
@media only screen and (max-height: 450px) {

    .mobile-title {
        margin-top: 10%;
    }
    .text-wrapper {

        padding-top: 5%;
    }
    .answer-wrapper {
        padding-bottom: 5%;
    }
}